 *{
 	padding: 0;
 	margin: 0;
 	box-sizing: border-box;
 	font-family: montserrat, sans-serif;
 }

 .hero{
 	width: 100%;
 	height: 100vh;
 	background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(images/bet.jpg);
 	background-size:cover;
 	background-position: center;
 }

 nav{
 	display: flex;
 	align-items: center;
 	justify-content: space-between;
 	padding-top: 40px;
 	padding-left: 10%;
 	padding-right: 10%
 }

 .logo{
 	color: white;
 	font-size: 28px;
 	font-family: verdana;
 	font-weight: bold;
 }
 .ho{
 	height: 50px;
 	width: 50px;
 }

 span{
 	color: #ea1538;
 }
 nav ul li{
 	list-style: none;
 	display: inline-block;
 	padding: 10px 20px;

 }

 nav ul li a{
 	color: white;
 	text-decoration: none;
 	font-weight: bold;
 	font-size: 22px;
 }

 nav ul li a:hover{
 	color: #ea1538;
 	transition: .3s; 
 }

 button{
 	border: none;
 	background:#ea1538;
 	padding: 12px 10px;
 	border-radius: 20px;
 	color: white;
 	font-weight: bold;
 	font-size: 18px;
 	transition: .4s;
 }

 button:hover{
     transform: scale(1.2);
     cursor: pointer;
 }

 

 .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
    color: white;
    font-family: verdana;
    width: 200px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.sd{
	color: white;
	height: 50px;

}
.line{
	border:3px solid white;
}

.search-box{
	position: absolute;
	top: 30%;
	left: 75%;
	transform:translateY(-50%,-50%);
	background:white;
	height: 50px;
	border-radius: 40px;
	padding: 10px;
	font-family: verdana;
}

.search-btn{
	color: #e84118;
	float: right;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background:white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.search-txt{
	border:none;
	background:none;
	outline: none;
	float: left;
	padding: 0;
	color:black;
	font-size: 16px;
	transition: 0.4s;
	line-height: 40px;
	width: 320px;
	font-weight: bold;

}


.search-box:hover > .search-btn{
	background-color: white;
}

.search-box:hover > .search-txt{
	width: 300px;
}

.se{
	outline-color: white;
	height: 25px;
	width: 25px;
}

.text{
    padding: 20px 8%;
    font-size: 20px;

}
