	
		*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: montserrat;
}


.header{
	width: 100%;
	height: 100vh;
	background-image: url(images/3.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

nav{
	width: 100%;
	padding: 20px 0;
	text-align: center;
	font-size: 16px;
}
nav ul{
	list-style: none;
}

nav ul li a{
	text-decoration: none;
	color: #fff;
	font-size: 20px;
}
nav ul li a:hover{
	color: blue;
	transition: all 0.5s ease;
}



nav ul li ul{
	display: none;
}

 

.logo{
    width:150px ;
    margin: 20px 0;
    cursor: pointer;
    border: 5px solid blue;
}

nav ul{
	background-color: #000;
	width: 100%;
	margin-top: 10px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 20px 30px;
    color: #fff;

}



.text{
    padding: 20px 8%;
    font-size: 20px;

}

.staff{
	width: 100%;
	height: 2000px;
}

nav.sticky{
	position: fixed;
	top: 0;
	left: 0;
	padding: 10px 8%;
	background-color: #000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	transition: padding 1s;

}
nav.sticky ul{
	width: auto;
}
.bout{
	padding: 9px 25px;
	background-color: rgba(0, 136, 169, 0.5);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3 ease 0s;
	font-size: 16px;
	color: white;
}
.bout:hover{
	background-color: rgba(0, 136, 169, 1);
	transition: 0.5 ease;
}
hr{
	border: 5px solid blue;
}

.active{
	background: red;
}

input{
 font-size: 20px;
}

h5{
 font-family: curse;
 font-weight: bolder;
 font-size: 34px;
 text-align: left;
 padding: 10px 8%

}

button{
	background-color:rgba(0, 136, 169, 0.8);
	color: white;
	font-family: verdana;
	font-size: 14px;
	border: none;
	border-radius: 5px; 
	padding:9px 15px;
	cursor: pointer;
	transition: all 0.3 ease 0s;
}
button a{
    background-color:rgba(0, 136, 169, 0.8);
	color: white;
	font-family: verdana;
	font-size: 14px;
	border: none;
	border-radius: 5px; 
	padding:9px 15px;
	cursor: pointer;
	transition: all 0.3 ease 0s;
	text-decoration: none;
}
button:hover{
	background-color:rgba(0, 136, 169, 1);

}

.butt{
	justify-content: space-between;
}

.sound{
	background-color:black;
	opacity: 0.9;
	padding: 10px 20px;
}
.taito{
	font-family: arial;
	font-size: 18px;
	color: white;
}

.new{
	border: 2px solid white;
}



.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}